.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 170px;
  height: 50px;
  margin: 0 auto;
  padding-top: 4px;
  border-bottom: 4px solid #736357;
  border-radius: 2px;
  background-color: #998675;
  color: #ffffff;
  @include Raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
  transition: all .3s ease;

  &:hover{
    padding-top: 0;
    border-bottom-width: 0;
  }

}
