.hero {
  display: flex;
  align-items: stretch;
  position: relative;
  min-height: 100vh;
  padding: 67px 65px 40px;
  background: url("../img/hero-1.jpg") center;
  background-size: auto;

  &__slider {
    display: flex;
    position: relative;
    max-width: 1520px;
    margin: 0 auto;
    padding-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;

  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__content{
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;

    p{
      max-width: 94%;
      margin: 0 auto;

      &:first-child{
        margin-bottom: 18px;
        @include Raleway;
        font-weight: 500;
        font-size: 36px;
        line-height: 1;
      }

    }

    h1, h2, h3{
      margin-bottom: 18px;
      @include Raleway;
      font-size: 52px;
      font-weight: 800;
      line-height: 1;
      letter-spacing: .5px;
    }

    .btn{
      margin-top: 48px;
    }

  }

  &__btn-prev,
  &__btn-next{
    position: absolute;
    top: calc( 50% - 37px );
    width: 40px;
    height: 73px;
    z-index: 4;
    transition: border-color .3s ease;

    &:before{
      position: absolute;
      width: 53px;
      height: 53px;
      transform: rotate(45deg);
      box-sizing: border-box;
      transition: border-color .3s ease;
      content: '';
    }

  }

  &__btn-prev{
    left: 10px;

    &:before{
      top: calc( 50% - 26px);
      left: calc( 50% - 9px);
      border-left: 3px solid #d3c1ad;
      border-bottom: 3px solid #d3c1ad;
    }

    &:hover:before{
      border-left-color: #a3a2a0;
      border-bottom-color: #a3a2a0;
    }

  }

  &__btn-next{
    right: 10px;

    &:before{
      top: calc( 50% - 26px );
      right: calc( 50% - 9px );
      border-top: 3px solid #d3c1ad;
      border-right: 3px solid #d3c1ad;
    }

    &:hover:before{
      border-top-color: #a3a2a0;
      border-right-color: #a3a2a0;
    }

  }

  &__pagination{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 42px;
    transform: translateX(-50%);

    span{
      width: 10px;
      height: 10px;
      margin: 0 6px;
      background-color: #8d8e90;
      opacity: .5;
      transition: all .3s ease;

      &.swiper-pagination-bullet-active{
        background-color: transparent;
        box-shadow: 0 0 0 2px #c4b3a2;
        opacity: 1;
      }

    }

  }

}
@media (min-width: $phone-landscape) {
  .hero {

  }
}
@media (min-width: $tablet-portrait) {
  .hero{

    &__btn-prev{
      left: 150px;
    }

    &__btn-next{
      right: 150px;
    }

  }
}
@media (min-width: $tablet-landscape) {
  .hero {

  }
}
@media (min-width: $desktop) {
  .hero {

  }
}
